﻿<!doctype html>
<html ng-app>
<head>
</head>
<body>
    <div ng-controller="FetchCtrl">
        <select ng-model="method">
            <option>GET</option>
            <option>JSONP</option>
        </select>
        <input type="text" ng-model="url" size="80" />
        <button ng-click="fetch()">fetch</button><br>
        <button ng-click="updateModel('GET', 'http-hello.html')">Sample GET</button>
        <button ng-click="updateModel('JSONP',
                      'http://angularjs.org/greet.php?callback=JSON_CALLBACK&name=Super%20Hero')">
            Sample JSONP
        </button>
        <button ng-click="updateModel('JSONP', 'http://angularjs.org/doesntexist&callback=JSON_CALLBACK')">
            Invalid JSONP
        </button>
        <pre>http status code: {{status}}</pre>
        <pre>http response data: {{data}}</pre>
    </div>
    
    <script src="scripts/angular.min.js"></script>
    <script>
        function FetchCtrl($scope, $http, $templateCache) {
            $scope.method = 'GET';
            $scope.url = 'http-hello.html';

            $scope.fetch = function () {
                $scope.code = null;
                $scope.response = null;

                $http({ method: $scope.method, url: $scope.url, cache: $templateCache }).
                  success(function (data, status) {
                      $scope.status = status;
                      $scope.data = data;
                  }).
                  error(function (data, status) {
                      $scope.data = data || "Request failed";
                      $scope.status = status;
                  });
            };

            $scope.updateModel = function (method, url) {
                $scope.method = method;
                $scope.url = url;
            };
        }
    </script>
</body>
</html>