﻿<!DOCTYPE html>

<html ng-app="myApp"> 
    
    <head lang="en">
        <meta charset="utf-8">
        <title>Demo App 2</title>
        <link rel="stylesheet" type="text/css" href="css/ng-grid.css" />
        <link rel="stylesheet" type="text/css" href="css/grid.css" />
    </head>

    <body ng-controller="MyCtrl">
        <div>
            <input type="text" ng-model="name" />
            <input type="number" ng-model="age" />
            <button ng-click="addRow()">Add row</button>
            <button ng-click="saveData()">Save</button>
        </div>
        <div class="gridStyle" ng-grid="gridOptions"></div>
        
        <!-- script references -->
        <script src="scripts/jquery.min.js"></script>
        <script src="scripts/angular.min.js"></script>
        <script type="text/javascript" src="scripts/ng-grid.js"></script>
        <script type="text/javascript" src="scripts/demo1.js"></script>
    </body>

</html>