﻿<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <title>Demo App 0</title>
</head>
<body ng-controller="DemoFirstCtrl">
    <label>Name :</label><input type="text" ng-model="model.name"/> <br/>
    <label>Age :</label><input type="number" ng-model="model.age"/><br />
    <p> Name : {{model.name}}, age : {{model.age}} </p>
    <button ng-click="alert()"> Click</button>
    <script src="scripts/jquery.min.js"></script>
    <script src="scripts/angular.min.js"></script>
    <script>
        var myApp = angular.module("myApp", []);
        myApp.controller("DemoFirstCtrl", function($scope, $window, $http) {
            $scope.data = { name: '', age: 0 };
            $scope.alert = function() {
                $window.alert('Click Me!');
            }
        });
    </script>
</body>
</html>
