﻿<!DOCTYPE html>
<html ng-app>
<head>
    <title>Demo App 0 Refactoring</title>
</head>
<body ng-controller="DemoFirstCtrl">
    <label>Name :</label><input type="text" ng-model="model.name"/> <br/>
    <label>Age :</label><input type="number" ng-model="model.age"/><br />
    <p> Name : {{model.name}}, Age : {{model.age}} </p>

    <script src="scripts/jquery.min.js"></script>
    <script src="scripts/angular.min.js"></script>
    <script>

        //function DemoFirstCtrl($scope) {
        //    $scope.model = { name: "Nine", age: 33 };
        //}
        
        
        //var myApp = angular.module("myApp", []);
        //myApp.controller("DemoFirstCtrl", function($scope) {
        //    $scope.model = { name: "Nine", age: 33 };
        //});
        
    </script>
</body>
</html>

