﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Demo App 1</title>
</head>
<body>
    <div ng-app="demo2">
        <input id="hidden" type="hidden" value="10" />
        <div ng-controller="demo2Ctrl">
            <input ng-model="name" type="text"/><br/>
            <label> call func capitalise() : {{capitalise()}}</label>
            <label>Age : {{ age }}</label>
            <div ng-controller="demo2SubCtlr">
                <label>root name : {{name}}</label><br/>
                <label>property : {{name2()}}</label>
                <label>Age : {{ age }}</label>
                <div ng-controller="demo2SubOfSubCtlr">
                    <label>root name : {{name}}</label><br />
                    <label>property : {{name21()}}</label>
                    <label>Age : {{ age }}</label>
                    <label>Hidden : {{ hidden() }}</label>
                </div>
            </div>
        </div>
    </div>
    
    <!-- script references -->
    <script src="scripts/jquery.min.js"></script>
    <script src="scripts/angular.min.js"></script>
    <script type="text/javascript" src="scripts/demo2.js"></script>
</body>
</html>
