﻿<!DOCTYPE html>
<html ng-app="demo">
<head>
    <link rel="stylesheet" href="css/animate.css">
</head>
<body ng-controller="MainCtrl as main">
    <h1>ngDemo</h1>
    <p>Wobbles whenever the value > 0.5</p>
    <hr>
    <ng-demo></ng-demo>

    <script src="scripts/angular.min.js"></script>
    <script src="scripts/angular-animate.min.js"></script>
    <script>
        angular.module('demo', [
            'ngAnimate'
        ]).
            directive('ngDemo', function(
                $timeout,
                $window,
                $animate
                ) {
                return {
                    restrict: 'E',
                    template: '<h1>{{score}}</h1>',
                    replace: true,
                    link: function(scope, element, attrs) {
                        scope.score = 0;

                        (function _loop() {
                            $timeout(function() {
                                scope.score = $window.Math.random()

                                _loop();
                            }, 1000);
                        })();

                        scope.$watch('score', function(newVal) {
                            if (newVal > 0.5) {
                                $animate.addClass(element, 'animated wobble', function() {
                                    $animate.removeClass(element, 'animated wobble');
                                });
                            }
                        });
                    }
                };
            }).
            controller('MainCtrl', function() {
            });
    </script>
</body>
</html>