﻿<!DOCTYPE html>
<html ng-app="demo">
<head>
    <style>
        .ng-enter {
            -webkit-transition: 1s;
            transition: 1s;
            margin-left: 100%;
        }

        .ng-enter-active {
            margin-left: 0;
        }

        .ng-leave {
            -webkit-transition: 1s;
            transition: 1s;
            margin-left: 0;
        }

        .ng-leave-active {
            margin-left: 100%;
        }

        .ng-move {
            -webkit-transition: 1s;
            transition: 1s;
            background: gold;
        }

        .ng-move-active {
            background: #fff;
        }
    </style>
</head>
<body ng-controller="MainCtrl as main">
    <h1>ngRepeat</h1>
    <p>Supports: <button ng-click="main.push()">Enter Animation</button> <button ng-click="main.pop()">Leave Animation</button> <button ng-click="main.moveLast()">Move Animation</button></p>
    <hr>
    <ul ng-repeat="item in main.items">
        <li>{{item}}</li>
    </ul>

    <script src="scripts/angular.min.js"></script>
    <script src="scripts/angular-animate.min.js"></script>
    <script>
        angular.module('demo', ['ngAnimate']).
            controller('MainCtrl', function($window) {
                this.items = [+new $window.Date];

                this.push = function() {
                    this.items.push(+new $window.Date);
                };

                this.pop = function() {
                    this.items.pop();
                };

                this.moveLast = function() {
                    this.items.splice(+new $window.Date % (this.items.length - 1), 0, this.items.splice(this.items.length - 1, 1)[0]);
                };
            });
    </script>

</body>
</html>