﻿<!doctype html>
<html ng-app="myApp">
<head>
</head>
<body ng-controller="SearchDataCtrl">

    Search: <input ng-model="searchText">
    <table id="searchTextResults">
        <tr><th>Name</th><th>Phone</th></tr>
        <tr ng-repeat="guy in guys | filter:searchText">
            <td>{{guy.name}}</td>
            <td>{{guy.phone}}</td>
        </tr>
    </table>
    <hr>
    Any: <input ng-model="search.$"> <br>
    Name only <input ng-model="search.name"><br>
    Phone only <input ng-model="search.phone"><br>
    Equality <input type="checkbox" ng-model="strict"><br>
    <table id="searchObjResults">
        <tr><th>Name</th><th>Phone</th></tr>
        <tr ng-repeat="guy in guys | filter:search:strict">
            <td>{{guy.name}}</td>
            <td>{{guy.phone}}</td>
        </tr>
    </table>

    <script src="scripts/jquery.min.js"></script>
    <script src="scripts/angular.min.js"></script>
    <script>
        var myApp = angular.module("myApp", []);
        myApp.controller("SearchDataCtrl", function($scope) {
            $scope.guys = [{ name: 'Nine Mvp', phone: '123-4567' },
                { name: 'Non', phone: '999-0000' },
                { name: 'Amp', phone: '987-6543' },
                { name: 'Supertee', phone: '444-5555' },
                { name: 'Guest', phone: '789-0999' },
                { name: 'Who', phone: '111-1111' }];
        });
    </script>
</body>
</html>