﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en" ng-app="eventsApp">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AngularJS Demo 2</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        .list-inline {
            padding-bottom: 3px;
        }

        h1 {
            text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);
        }

        #map {
            height: 100%;
            margin: 0px;
            padding: 0px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div ng-controller="EventController">
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    <div class="input-group-lg">
                        <input type="text" ng-model="searchText" /> <button ng-click="searchEvents()"><span class="glyphicon glyphicon-search"></span>Find</button>
                    </div>
                </div>
                <div class="col-sm-1"></div>
            </div>
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    <div class="input-group-lg">
                        <ul class="nav" ng-click="showDetail($index)" ng-repeat="event in events">
                            <li> ID : {{event.eventId}}</li>
                            <li> Name : {{event.name}}</li>
                            <li> Subtitle : {{event.subTitle}}</li>
                            <li> Date Time: {{event.date}}</li>
                            <li> Sessions : {{event.sessions.length}}</li>
                        </ul>
                    </div>
                    <div class="col-sm-1"></div>
                </div>
            </div>
        @*</div>*@
        <hr />
        @*<div ng-controller="EventController">*@
            @*<div ng-repeat="event in events">*@
            <div ng-if="event">
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-5 " style="vertical-align: top;">
                        <h1>{{event.name}}</h1>
                        <h4>{{event.subtitle}}</h4>
                    </div>
                    <div class="col-sm-5">
                        <img ng-src="{{event.eventPhotoUrl}}" alt="{{event.name}}" class="thumbnail pull-right" style="min-height: 30px; max-height: 80px" />
                    </div>
                    <div class="col-sm-1"></div>
                </div>
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-4">
                        <div class="input-group-sm">
                            <strong>Date Time : </strong><br />
                            {{event.date}} @@{{event.time}}
                        </div>
                        <div class="input-group-sm">
                            <address>
                                <strong>Address : <button class="btn btn-sm btn-info" ng-click="showMap()">map</button></strong><br />
                                {{event.location.address1}}<br />
                                {{event.location.address2}}<br />
                                {{event.location.province}}
                                {{event.location.country}}
                            </address>
                        </div>
                    </div>
                    <div class="col-sm-1"></div>
                </div>
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-7"><h4>Sessions : </h4></div>
                    <div class="col-sm-3">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-filter"></span></span>
                            <input type="search" class="form-control" placeholder="Search Session.." ng-model="q">
                        </div>
                    </div>
                    <div class="col-sm-1"></div>
                </div>
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-10">
                        <div class="list-inline" ng-repeat="session in event.sessions | filter:q">
                            <a href="void:javascript(0);" class="list-group-item">
                                <table class="table-hover">
                                    <tbody>
                                        <tr><td><span class="label label-primary">Title : </span></td><td><span class="text-primary">{{session.name}}</span></td></tr>
                                        <tr><td><span class="label label-success">Speaker : </span></td><td>{{session.instructor}}</td></tr>
                                        <tr><td><span class="label label-info">Duration : </span></td><td>{{session.duration}}</td></tr>
                                        <tr><td><span class="label label-info">Level : </span></td><td>{{session.level}}</td></tr>
                                        <tr><td><span class="label label-info">Detail : </span></td><td>{{session.detail}}</td></tr>
                                    </tbody>
                                </table>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-1"></div>
                </div>
                <!-- Modal -->
                <div id="modal" class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="myModalLabel"></h4>
                            </div>
                            <div class="modal-body">
                                <div id="map" style="height: 300px;width: 500px"></div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
            </div>
            @*</div>*@
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/ng")
    @Scripts.Render("~/bundles/ui-bootstrap")
    <script src="http://maps.googleapis.com/maps/api/js?sensor=false&.js"></script>
    <script src="~/Scripts/angular-app/app2.js"></script>
    <script src="~/Scripts/angular-app/EventController.js"></script>
</body>
</html>
